
<div class="container">

  <h1 class="text-center mt-8 mb-4 text-white">Categories</h1>


  <div class="row justify-content-md-center mt-3 mb-2 ">
    <div class="flickr_pagination col-3">
      <%= will_paginate @categories, :container => false %>
    </div>
  </div>

  <div class="container">
    
    <% @categories.each do |category| %>
      <div class="row justify-content-md-center mt-2">
        <div class="col-4 mt-0 ">
          <div class="card text-center shadow mb-1 bg-white rounded">
          
            <div class="card-body"> 
              <h5 class="card-title"><%= link_to category.name, category_path(category), class: "link-success text-decoration-none" %></h5>
              <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
            </div>

            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(category.created_at) %>, ago. Edited <%= time_ago_in_words(category.updated_at)%> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="row justify-content-md-center mt-2 mb-2 ">
    <div class="flickr_pagination col-3">
      <%= will_paginate @categories, :container => false %>
    </div>
  </div>

</div>
